header {
    background-color: #315e5977;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

html {
    scroll-behavior: smooth;
    /* pour un défilement fluide */
}

/**************MENU*************/
nav {
    position: fixed;
    left: 0px;
    z-index: 1000;
}

#menu-toggle {
    background: none;
    border: none;
    margin: 2rem;
    color: #DA5F71;
    font-family: "Play", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#menu {
    position: absolute;
    top: 0;
    width: 30vw;
    height: 100vh;
    background: #EEE4DB;
    font-family: "Play", sans-serif;
    text-align: left;
    text-transform: uppercase;
    /* font-weight: bold; */
    padding: 1rem;
    display: none;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#menu-close {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 1.15rem;
    color: #315E59;
    font-family: "Play", sans-serif;
    text-transform: uppercase;
    margin: 0 0 2rem;
}

.menu_links {
    text-decoration: none;
    color: #315E59;
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

.menu_links:hover {
    color: #DA5F71;
}

.menu_links_comm {
    position: absolute;
    bottom: 3rem;
}

.menu_links_logo {
    width: 2rem;
    padding-right: 1rem;
}

#menu.show {
    display: flex;
    animation: slide 0.3s ease-out;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*LOGO*/
.logoTitle {
    text-align: center;
    margin-top: 1rem;
    /* margin-bottom: 5rem; */
}

.titleH1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: #EEE4DB;
}

/******MAIN*****/
/*Titre ACcueil*/
.titlesAccueil {
    background-color: #315e5977;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    padding-top: 4rem;
}

.accueilH2,
.titlesAccueil {
    color: #EEE4DB;
    font-family: "Play", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}


.titlesAccueilH3 {
    width: 15rem;
    margin: 0 3rem;
    font-size: 1.25rem;
}

.sketchAccueil {
    text-align: center;
    background-image: url(../ressources/Rectangle\ 4.png);
    background-size: cover;
    background-position: center;
    height: 29rem;
    width: 100%;
    max-width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleH3Right {
    text-align: right;
}

/*****Décro Bulle marron*****/
/* .atelierBackground {
    position: absolute;
    top: -6rem;
    right: 0;
    z-index: -1;
    height: 100%;
} */

/*Atelier A PROPOS*/

.atelierSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10rem 0 15rem 10rem;
    background-color: #CAC9C1;
    z-index: 100;
}

/*Carousel*/
.cadre-atelier-img-container,
.cadre-knowledge-img-container {
    position: absolute;
    /* box-shadow: inset 0 4px 4px rgb(255, 8, 8); */
    overflow: hidden;
    /* border-radius: 0.5rem; */
    width: 25rem;
    height: 31rem;
    border: 3px solid #EEE4DB;
    margin-right: 0.5rem;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.cadre-knowledge-img-container {
    border: 3px solid #DA5F71;
}

.cadre-atelier-img-container::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 30px rgb(0, 0, 0);
    pointer-events: none;
    z-index: 2;
}

.cadre-knowledge-img-container::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 30px #433338;
    pointer-events: none;
    z-index: 2;
}

.cadre-atelier-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cadre {
    position: relative;
}

.sousCartePlacement {
    position: relative;
}

.sous-carte_atelier {
    position: absolute;
    top: -2rem;
    left: -2.3rem;
    width: 24rem;
    height: 31rem;
    border: 50px solid transparent;
    border-image: url('../ressources/textile-texture.jpg') 110 stretch;
    transition: transform 0.2s ease-out;
}

.sous-carte_atelier::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    /* épaisseur supplémentaire */
    background: url('../ressources/textile-texture.jpg') center / cover no-repeat;
}

.cadreH_atelier {
    position: absolute;
    top: -4.3rem;
    left: -4.8rem;
    transform: rotate(10deg) translateY(-60px) translateX(-45px);
    transition: transform 0.1s linear, opacity 0.1s linear;
    z-index: 11;
}

.cadreB_atelier {
    position: absolute;
    top: 35rem;
    left: -4.8rem;
    transform: rotate(15deg) translateY(20px) translateX(-45px);
    transition: transform 0.1s linear, opacity 0.1s linear;
}

.cadreG_atelier {
    position: absolute;
    top: -4.55rem;
    left: -4.55rem;
    transform: rotate(-15deg) translateY(-60px) translateX(-100px);
    transition: transform 0.1s linear, opacity 0.1s linear;
    z-index: 11;
}

.cadreD_atelier {
    position: absolute;
    top: -4.5rem;
    right: -13.2rem;
}

.cadreCrochet_atelier {
    position: absolute;
    top: -7rem;
    left: 11rem;
}

.atelierPictures .cadre-atelier-img-container:nth-child(1) {
    transform: translateX(0) scale(1);
    z-index: 3;
}

/* Position des cartes empilées */
.atelierPictures .cadre-atelier-img-container:nth-child(2) {
    z-index: 2;
    opacity: 0;
}

.atelierPictures .cadre-atelier-img-container:nth-child(3) {
    z-index: 1;
    opacity: 0;
}

.atelierPictures .cadre-atelier-img-container:nth-child(4) {
    z-index: 0;
    opacity: 0;
}

/* Boutons */
.navig,
.navigKnowledge {
    /* transform: translateY(-50%); */
    background: #CAC9C1;
    box-shadow: 3px 1.8px 0px #26483B;
    border: 3px solid #26483B;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
    margin-left: 0.5rem;
}

.carrouselButtonAtelier,
.carrouselButtonKnowledge {
    margin: 38rem 0 0 10rem;
}

.navig:hover,
.navigKnowledge:hover {
    position: relative;
    /* background: white; */
    left: 1.8px;
    top: 3px;
    box-shadow: none;
}

.navigSVG_prev {
    transform: rotate(180deg);
}

/*Article à propos & atelier*/
/*ARTICLE*/
.articleAbout {
    font-family: "Play", sans-serif;
    width: 50%;
    color: #26483B;
    /* padding-top: 5rem; */
    /* color: #323232; */
    /* margin-right: 5rem; */
}

.latelier {
    display: flex;
    align-items: flex-start;
}

.svg_atelier {
    width: 15rem;
}

.articleAboutH2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Kufam", sans-serif;
    padding-left: 3rem;
    width: 19rem;
}

.articleAboutH3 {
    font-size: 1.25rem;
    font-family: "Kufam", sans-serif;
    margin-bottom: 3rem;
}

.icons_atelier {
    display: grid;
    grid-template-columns: 17rem 17rem;
    grid-template-rows: auto auto;
    grid-row-gap: 2.5rem;
    grid-column-gap: 4rem;
}

.one_icon_atelier {
    color: #26483B;
    font-family: "Play", sans-serif;
    display: flex;
}

.one_icon_atelier img {
    width: 56px;
    height: 66px;
    padding-right: 1rem;
}

.one_icon_atelier_p {
    color: #A4835B;
    padding-top: 0.5rem;
    line-height: normal;
    font-size: 0.825rem;
}

.articleAbout_myself {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.articleAbout_latelier {
    display: flex;
    flex-direction: column;
}

.articleAbout_myself h4 {
    color: #323232;
}

.articleAbout_imgAtelier {
    width: 8rem;
}

.articleAbout_p {
    padding: 0.5rem 6rem 0 1rem;
    line-height: 1.75rem;
}

.articleAbout_latelier p {
    padding: 3rem;
    width: 19rem;
    line-height: 1.75rem;
}

.chiffresAboutMe {
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem 0 1rem;
    padding-top: 2rem;
    border-top: 1px solid #26483B;
}

.chiffresAboutMe_H4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #A4835B;
}

.chiffresAboutMe_p {
    padding: 0;
}

/***** KNOWLEDGE *****/
/* .atelierKnowledge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 90%;
} */

.atelierKnowledgeDeco {
    position: absolute;
    /* height: 100%; */
    bottom: -20rem;
    right: 25rem;
    transform: rotate(5deg);
    z-index: -1;
}

.bottomBackgroundKnowledge {
    position: absolute;
    bottom: 0;
    left: 0;
}

.knowledgeSection {
    position: relative;
    z-index: 10;
    background-color: #CAC9C1;
    display: flex;
    /* justify-content: center; */
    padding: 15rem 5rem;
    overflow: hidden;
}

/*illu knowledge*/
.gridKnowledge {
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 15rem 15rem;
    justify-items: center;
    align-items: center;
}

.gridKnowledge_fig {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridKnowledge_fig figcaption {
    text-transform: uppercase;
    font-family: "Kufam", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
}

.knowledgePictures {
    padding: 2rem 0 0 7rem;
    position: relative;
}

.cadreKnowledge {
    position: absolute;
    top: -4rem;
    left: 2.5rem;
}

.knowledgePictures .cadre-knowledge-img-container:nth-child(1) {
    z-index: 3;
}

/* Position des cartes empilées */
.knowledgePictures .cadre-knowledge-img-container:nth-child(2) {
    z-index: 2;
}

.knowledgePictures .cadre-knowledge-img-container:nth-child(3) {
    z-index: 1;
}

.knowledgePictures .cadre-knowledge-img-container:nth-child(4) {
    z-index: 0;
}

/*********PORTFOLIO*******/
.portfolioBackground {
    position: absolute;
    top: -6rem;
    right: 0;
    z-index: -1;
    /* height: 100%; */
}

.portfolioSection {
    justify-content: center;
    padding: 0 0 10rem;
}

.portfolioArticle_header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolioArticle_h2 {
    color: #26483B;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Kufam", sans-serif;
    padding-bottom: 2rem;
}

.portfolioArticle_p {
    font-family: "Play", sans-serif;
    color: #26483B;
    width: 50%;
    text-align: center;
}

.portfolio_filters {
    padding: 1rem;
    margin-top: 2rem;
}

.portfolio_filters button {
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 1rem;
    font-family: "Play", sans-serif;
    color: #26483B;
    cursor: pointer;
    margin-right: 1rem;
    background-color: #EEE4DB;
    box-shadow: 3px 4px 0px #26483B;
}

.portfolio_filters button.active {
    background-color: #26483B;
    color: #EEE4DB;
    box-shadow: none;
    position: relative;
    left: 3px;
    top: 4px;
}

.portfolio_filters button:hover {
    box-shadow: none;
    position: relative;
    left: 3px;
    top: 4px;
    /* background-color: #EEE4DB; */
}

.portfolioArticle_allCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 5rem;
    min-height: 700px;
}

.portfolioArticle_card {
    width: 23rem;
}

.portfolioArticle_img-container {
    overflow: hidden;
    width: 23rem;
    height: 20rem;
    margin-right: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 10px #323232;
    /* border: 4px solid #EDE6D6;
    border-bottom: none; */
}

.portfolioArticle_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolioArticle_descr {
    background-color: #FFFFFF;
    font-family: "Play", sans-serif;
    color: #323232;
    padding: 1.5rem 2rem 2.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 10px #323232;
}

/* .descr_mariage{
    background-color: #2EA99C;
}

.descr_illustration{
    background-color: #B1998B;
} */

.portfolioArticle_descr h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.portfolioArticle_descr p {
    padding-top: 1rem;
    /* padding-right: 2rem; */
}

/************ SOUS SECTION PORTFOLIO ********/
.sousSection_MesServices {
    background-color: #CAC9C1;
    padding: 0 10rem 5rem;
}

.sousSection_MesServices_ensemble {
    padding: 1.5rem 0;
    border: 1px solid #26483B;
    box-shadow: 1px 1px 5px #323232;
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #CAC9C1;
}

.sousSection_avantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif;
    color: #26483B;
}

.sousSection_MesServices_img_container {
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: #26483B;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sousSection_MesServices_img {
    width: 100%;
    height: 100%;
    object-fit: none;
}

.sousSection_MesServices_h3 {
    font-weight: bold;
    padding: 1rem;
}

.sousSection_MesServices_p {
    width: 15rem;
    text-align: center;
}

/************* SERVICES *********************/
.servicesBackground {
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: -1;
    /* height: 100%; */
}

.servicesSection {
    padding: 5rem;
    flex-direction: column;
    padding-bottom: 10rem;
}

.services_flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicessection_h2 {
    padding: 2rem 0;
    color: #26483B;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Kufam", sans-serif;
}

.servicessection_p {
    font-family: "Play", sans-serif;
    color: #26483B;
    width: 50%;
    text-align: center;
}

.servicesCartes {
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
}

.servicesCartes_article {
    border-radius: 2rem;
    background-color: #cba58890;
    color: #26483B;
    font-family: "Play", sans-serif;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.servicesCartes_h3 {
    color: #26483B;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Kufam", sans-serif;
}

.servicesCartes_delai {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.servicesCartes_delai img {
    width: 1rem;
    height: 1rem;
}

.servicesCartes_delai_p {
    font-size: 0.825rem;
    padding-left: 1rem;
}

.servicesCartes_liste {
    display: flex;
    padding-bottom: 2rem;
}

.servicesCartes_liste img {
    height: 1rem;
    width: 1rem;
    padding-right: 2rem;
}

.servicesCartes_liste_h4 {
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 3rem;
}

.servicesCartes_liste_p {
    padding-right: 3rem;
}

.servicesCartes_button_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.servicesCartes_button {
    color: #CAC9C1;
    background-color: #DA5F71;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Play", sans-serif;
    font-size: 1.25rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    width: 22rem;
    box-shadow: 4px 5px 0px #26483B;
    cursor: pointer;
}

.servicesCartes_button:hover {
    box-shadow: none;
    position: relative;
    left: 4px;
    top: 5px;
}

.servicesCartes_button_price {
    position: absolute;
    right: 0.5rem;
    top: 4rem;
    font-size: 1.25rem;
    background-color: #26483B;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    transform: rotate(-25deg);
    color: #DA5F71;
    display: inline-block;
    /* important pour que la transformation fonctionne bien */
}

.servicesCartes_button_container:hover .servicesCartes_button_price {
    animation: vibration 0.2s linear 2;
}

/* Définition de l'animation */
@keyframes vibration {
    0% {
        transform: rotate(-25deg) translate(0);
    }

    20% {
        transform: rotate(-25deg) translate(-2px, 2px);
    }

    40% {
        transform: rotate(-25deg) translate(-2px, -2px);
    }

    60% {
        transform: rotate(-25deg) translate(2px, 2px);
    }

    80% {
        transform: rotate(-25deg) translate(2px, -2px);
    }

    100% {
        transform: rotate(-25deg) translate(0);
    }
}

/************* CONTACT **********************/
.contactSection {
    background-color: #CAC9C1;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 15rem;
}


.contactSection_H1 {
    text-align: right;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: "Kufam", sans-serif;
    color: #26483B;
}

.contactSection_p {
    font-family: "Play", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #A4835B;
    line-height: 2rem;
    padding: 2rem 20rem;
}

.contactSection_form {
    font-family: "Play", sans-serif;
    background-color: #EEE4DB;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 5px 5px 0px #315E59;
}

.contactSection_formName {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contactSection_form li {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #315E59;
    font-weight: bold;
    padding-bottom: 3rem;
}

.contactSection_form input,
.contactSection_form textarea {
    font-family: "Play", sans-serif;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #323232;
}

.contactSection_button {
    display: flex;
    justify-content: right;
}

.contactSection_buttonDeco {
    background-color: #DA5F71;
    color: #EEE4DB;
    border: 1px solid #315E59;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Play", sans-serif;
    box-shadow: 4px 4px 0px #315E59;
}

.contactSection_buttonDeco:hover {
    position: relative;
    left: 4px;
    top: 4px;
    box-shadow: none;
    cursor: pointer;
}

/************FOOTER*********************/

.footer {
    background-color: #315E59;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    color: #EEE4DB;
    font-family: "Play", sans-serif;
    padding: 2rem 5rem;
}

.footer_ccl_p {
    width: 15rem;
    padding-top: 2rem;
}

.footer_H2 {
    color: #CBA588;
    font-size: 1.25rem;
    padding-top: 8.5rem;
}

.logo_communication {
    width: 2rem;
}

.list_links_communication {
    display: flex;
    width: fit-content;
    padding-top: 4rem;
}

.list_links_communication li {
    padding-right: 1rem;
}

.footer_quickLinks {
    display: flex;
    flex-direction: column;
}

.footer_quickLinks_a {
    text-decoration: none;
    color: #EEE4DB;
    padding-top: 1rem;
}

.footer_contact_descr {
    display: flex;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

.footer_adress_img_container {
    /* position: absolute; */
    /* overflow: hidden; */
    width: 50px;
    height: 40px;
}

.footer_adress {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.footer_ContactH2_padding {
    padding-left: 3rem;
}

/***********SMARTPHONE***********************/

@media screen and (max-width: 800px) {

    header {
        padding-bottom: 3rem;
    }

    .titleH1 {
        font-size: 1.25rem;
    }

    .logoTitleTop {
        height: 1rem;
    }

    #menu-toggle {
        font-size: 1rem;
        margin: 0.5rem;
    }

    #menu {
        width: 100vw;
    }

    .titlesAccueil {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 0;
    }

    /* On force l’ordre d’affichage */
    .titlesAccueilH3:nth-of-type(1) {
        order: 1;
        margin: 0;
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    .titlesAccueilH3.titleH3Right {
        order: 2;
        margin: 0;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 2rem;
    }

    .sketchAccueil {
        order: 3;
        /* max-width: 100vw; */
        height: 19rem;
    }

    .accueilH2 {
        font-size: 1rem;
    }

    /****A Propos Section*****/
    .atelierSection,
    .knowledgeSection {
        padding: 1rem;
        flex-direction: column;
    }

    .atelierBackground {
        /* top: -4rem; */
        height: 110%;
    }

    .atelierKnowledge {
        height: 95%;
    }

    .cadre-atelier-img-container,
    .cadre-knowledge-img-container {
        width: 15rem;
        height: 18rem;
    }

    .sous-carte_atelier,
    .cadreH_atelier,
    .cadreB_atelier,
    .cadreG_atelier,
    .cadreD_atelier,
    .cadreCrochet_atelie,
    .img_CadreKnowledge {
        display: none;
    }

    .carrouselButtonAtelier,
    .carrouselButtonKnowledge {
        margin: 0;
    }

    .carrouselButtonKnowledge {
        padding-bottom: 25rem;
    }

    /* Position des cartes empilées */
    /* .atelierPictures .cadre-atelier-img-container:nth-child(2) {
        transform: translateX(20px) scale(0.95) rotate(3deg);
    }

    .atelierPictures .cadre-atelier-img-container:nth-child(3) {
        transform: translateX(40px) scale(0.9) rotate(7deg);
        z-index: 1;
    }

    .atelierPictures .cadre-atelier-img-container:nth-child(4) {
        transform: translateX(50px) scale(0.85) rotate(9deg);
        z-index: 0;
    } */

    .articleAbout {
        padding-top: 18rem;
        width: 100%;
    }

    .articleAbout_myself {
        flex-direction: column;
        align-items: center;
    }

    .svg_aPropos {
        width: 120px;
        padding-bottom: 2rem;
    }

    .articleAboutH2 {
        font-size: 1.5rem;
    }

    .articleAbout_p {
        padding: 0 1rem;
        font-size: 0.875rem;
    }

    .chiffresAboutMe_H4 {
        font-size: 1.5rem;
    }

    .chiffresAboutMe_p {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .chiffresAboutMe {
        margin: 2rem 1rem;
    }

    .articleAbout_latelier p {
        padding: 0
    }

    .atelierKnowledgeDeco {
        z-index: 1000;
        top: 2rem;
        left: -5rem;
        height: 15%;
        transform: rotate(15deg);
    }

    .latelier {
        flex-direction: column;
        padding-top: 5rem;
        align-items: center;
    }

    .articleAbout_latelier p {
        padding: 0 1rem;
        font-size: 0.875rem;
    }

    .svg_atelier {
        width: 120px;
    }

    .aboutH2Smartphone {
        text-align: center;
        padding: 1rem 0;
        padding-bottom: 2rem;
    }

    .icons_atelier {
        grid-template-columns: 17rem;
        grid-template-rows: auto auto;
        grid-row-gap: 2.5rem;
        grid-column-gap: 0;
        padding: 4rem 1rem;
    }

    .knowledgePictures .cadre-knowledge-img-container:nth-child(1) {
        transform: translateX(0px) scale(1);
        z-index: 3;
    }

    /* Position des cartes empilées */
    .knowledgePictures .cadre-knowledge-img-container:nth-child(2) {
        transform: translateX(20px) scale(0.95) rotate(3deg);
        z-index: 2;
    }

    .knowledgePictures .cadre-knowledge-img-container:nth-child(3) {
        transform: translateX(40px) scale(0.9) rotate(7deg);
        z-index: 1;
    }

    .knowledgePictures .cadre-knowledge-img-container:nth-child(4) {
        /* opacity: 1; */
        transform: translateX(50px) scale(0.85) rotate(9deg);
        z-index: 0;
    }

    .portfolioArticle_h2,
    .servicessection_h2,
    .servicesCartes_h3,
    .contactSection_H1 {
        font-size: 1.5rem;
    }

    .portfolioArticle_p,
    .servicessection_p {
        width: auto;
    }

    .portfolio_filters {
        display: flex;
        flex-direction: column;
    }

    .portfolio_filters button {
        margin-bottom: 1rem;
    }

    .portfolioArticle_img-container,
    .portfolioArticle_card {
        width: 20rem;
    }

    .servicesCartes_liste_h4,
    .servicesCartes_liste_p {
        font-size: 0.875rem;
        line-height: 1rem;
        padding-right: 0;
    }

    .servicesCartes {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .servicesCartes_article {
        width: 15rem;
    }

    .servicesCartes_button {
        width: 17rem;
    }

    .servicesCartes_button {
        font-size: 1rem;
    }

    .servicesCartes_button_price {
        font-size: 0.7rem;
        right: -0.5rem;
        top: 2.7rem;
        padding: 1rem 1rem;
        transform: rotate(-25deg);
    }

    .sousSection_MesServices {
        padding: 1rem;
    }

    .sousSection_MesServices_ensemble {
        flex-direction: column;
    }

    .sousSection_avantage {
        padding: 1rem 1rem 3rem;
    }

    .sousSection_MesServices_p {
        width: auto;
    }

    .contactSection_form {
        padding: 0;
        padding: 1rem;
        background-color: #CBA588;
    }

    .contactSection_H1 {
        left: 0;
        text-align: center;
    }

    .contactSection_p {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .contactSection_formName {
        flex-direction: column;
    }

    .contactSection_form li {
        font-size: 1.5rem;
    }

    .contactSection_form input,
    .contactSection_form textarea {
        width: 80vw;
        font-size: 1rem;
        padding-top: 1rem;
        /* padding-right: 1rem; */
    }

    .footer {
        flex-direction: column;
    }
}